<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <% include partials/template/header.ejs %>
    <!-- container -->
    <div class="container">
        <p ><%= siteViews %></p>
    </div>
    <!-- container -->
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
